# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
venv
.venv
*.db

# Node
node_modules
npm-debug.log*

# Build artifacts
frontend/dist
backend/static

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
